
.features {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}
.book_category {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 40px;
}

.book_box {
  border-radius: 15px;
  box-shadow: 0 0 8px #9facaf;
  background-color: rgb(250, 255, 237);
  width: 210px;
  height: 320px;
}

.book_block {
 padding: 5px;
}

.book_cover {
 padding-top: 10px;
}

.cover_img {
  width: 150px;
  height: 210px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.category_col {
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.category_img {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  margin-left: 5px;
  margin-right: 5px;
}
.category_text {
  font-size: 20px;
  margin-left: 10px;
}